<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tm.androidcopysdk" >

    <uses-sdk android:minSdkVersion="21" />

    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- <uses-permission android:name="android.permission.READ_CALL_LOG" /> -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- <uses-permission android:name="android.permission.RECEIVE_MMS" /> -->
    <!-- <uses-permission android:name="android.permission.RECEIVE_SMS" /> -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RAISED_THREAD_PRIORITY" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="false"
        android:supportsRtl="false"
        tools:replace="android:supportsRtl" >
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <service
            android:name="com.tm.androidcopysdk.BackupService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="dataSync" >
            <intent-filter>
                <action android:name="com.tm.androidcopysdk.StartAtBootService" />
            </intent-filter>
        </service>
        <service
            android:name="com.tm.androidcopysdk.AuthenticationService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/signal_authenticator" />
        </service>
        <service
            android:name="com.tm.androidcopysdk.SyncService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/signal_syncadapter" />
        </service>

        <provider
            android:name="com.tm.androidcopysdk.database.MessageContentProvider"
            android:authorities="com.tm.androidcopysdk.MessageContentProvider.signal"
            tools:replace="android:authorities" />

        <receiver
            android:name="com.tm.androidcopysdk.Startup"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.tm.androidcopysdk.utils.IsAliveReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.keep_alive" >
                </action>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.tm.androidcopysdk.utils.MDMReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.mdm_receiver_aa" >
                </action>
            </intent-filter>
        </receiver>

        <service android:name="com.tm.androidcopysdk.NetworkAndChargingService" />
        <service
            android:name="com.tm.androidcopysdk.events.EventService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name="com.tm.androidcopysdk.NetworkService" />
        <service
            android:name="com.tm.androidcopysdk.network.appSettings.WorkerIntentService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name="com.tm.androidcopysdk.AlarmService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name="com.tm.androidcopysdk.network.keepAlive.KeepWorkerIntentService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name="com.tm.androidcopysdk.events.PeriodicEventChecker"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name="com.tm.androidcopysdk.UpgradeVersionIntentService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name="com.tm.androidcopysdk.CompressionService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name="com.tm.androidcopysdk.AlarmService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" >
        </provider>
    </application>

</manifest>
