<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".TeleMessageSignalApplication"
        tools:node="merge"
        tools:replace="android:name">

   <!--     <activity android:name=".MainActivity" tools:node="remove"
            android:theme="@style/Theme.Signal.DayNight.NoActionBar"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:resizeableActivity="true"
            android:exported="false"/>
-->
        <activity android:name=".TmMainActivity"
            android:theme="@style/Theme.Signal.DayNight.NoActionBar"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:resizeableActivity="true"
            android:exported="false"/>

        <activity android:name=".InviteActivity"
            android:parentActivityName=".TmMainActivity"
            tools:replace="android:parentActivityName">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TmMainActivity"
                tools:replace="android:value"/>
        </activity>

        <activity-alias android:name=".RoutingActivity"
            android:targetActivity=".TmMainActivity"
            tools:replace="android:targetActivity">
        </activity-alias>

        <activity-alias
            android:name=".RoutingActivityAltYellow"
            android:targetActivity=".TmMainActivity"
            tools:replace="android:targetActivity">
        </activity-alias>

        <activity-alias
            android:name=".RoutingActivityAltBubbles"
            android:targetActivity=".TmMainActivity"
            tools:replace="android:targetActivity">
        </activity-alias>

        <activity-alias
            android:name=".RoutingActivityAltChat"
            android:targetActivity=".TmMainActivity"
            tools:replace="android:targetActivity">
        </activity-alias>

        <activity-alias
            android:name=".RoutingActivityAltNews"
            android:targetActivity=".TmMainActivity"
            tools:replace="android:targetActivity">
        </activity-alias>

        <activity-alias
            android:name=".RoutingActivityAltNotes"
            android:targetActivity=".TmMainActivity"
            tools:replace="android:targetActivity">
        </activity-alias>

        <activity-alias
            android:name=".RoutingActivityAltColor"
            android:targetActivity=".TmMainActivity"
            tools:replace="android:targetActivity">

        </activity-alias>

        <activity-alias
            android:name=".RoutingActivityAltDark"
            android:targetActivity=".TmMainActivity"
            tools:replace="android:targetActivity">

        </activity-alias>

        <activity-alias
            android:name=".RoutingActivityAltDarkVariant"
            android:targetActivity=".TmMainActivity"
            tools:replace="android:targetActivity">

        </activity-alias>

        <activity-alias
            android:name=".RoutingActivityAltWhite"
            android:targetActivity=".TmMainActivity"
            tools:replace="android:targetActivity">
        </activity-alias>

        <activity-alias
            android:name=".RoutingActivityAltWaves"
            android:targetActivity=".TmMainActivity"
            tools:replace="android:targetActivity">
        </activity-alias>

        <activity-alias
            android:name=".RoutingActivityAltWeather"
            android:targetActivity=".TmMainActivity"
            tools:node="merge"
            tools:replace="android:targetActivity">
        </activity-alias>

        <activity android:name=".conversation.v2.ConversationActivity"
            android:parentActivityName=".TmMainActivity"
            tools:node="merge"
            tools:replace="android:parentActivityName">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tm.archive.TmMainActivity"
                tools:replace="android:value"/>
        </activity>

        <activity
            android:name=".stories.viewer.StoryViewerActivity"
            android:parentActivityName=".MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tm.archive.TmMainActivity"
                tools:replace="android:value"/>
        </activity>

        <activity
            android:name="com.microsoft.identity.client.BrowserTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!--debug-->
                <!-- <data
                    android:host="org.tm.archive.prodshilo"
                    android:path="/QGKhFQhiONVb16luOCu0/IA+Ut4="
                    android:scheme="msauth" /> -->
                <!--release-->
                <data
                    android:host="org.tm.archive.prodshilo"
                    android:path="/a1GN26oMeVmtFyYoymQgC5B3diQ="
                    android:scheme="msauth" />
            </intent-filter>
        </activity>

        <service android:name=".gcm.FcmReceiveService" android:exported="true" tools:node="remove">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name="org.archiver.gcm.TeleMessageFcmReceiveService" android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>
</manifest>
